.document-body{
    display: grid;
    grid-template-columns: minmax(250px, auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 10px;

}

.react-logo {
    width: 90px;
}

.react-logo-title {
    width: 215px;
}

.react-heading-small {
    font-size: 0.01px
}

.react-heading {
    margin-top: 26px;
}

 #navbar {
    grid-area: navbar;
    position: fixed;
}

.nav-link {
   color: #61DBFB;
}

#navbar a {
    display: block;
    padding: 5px;
    margin: 15px 0;
    text-decoration: none;
    color: black;
    border: 2px solid #00d8ff;

}

#main-doc {
    grid-area: mainContent;
}

.react-logo {
    align-items: center;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

code {
    background-color: lightgray;
    display: block;
    padding: 15px;
}
#code-one {
    margin-left: 9px;
}

xmp {
    margin: 0px;
}

/* @media screen and (max-width: 700px) {
    div.main-body {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
    }
     nav#navbar {
        position: inherit;
    }
} */

@media screen and (max-width: 600px) {
    div.document-body {
      grid-template-columns: 1fr;
      grid-template-areas: "navbar" "mainContent";
    }
      nav#navbar {
      position: inherit;
    }
    .react-logo {
        width: 90px;
    
    }
    
    .react-logo-title {
        width: 215px;
    }



  }






