.document-body {
    display: grid;
    grid-template-columns: minmax(250px, auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 10px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    line-height: 1.7;
}

.react-logo {
    width: 90px;
    margin-left: 29px;
}

.react-logo-title {
    width: 230px;
}

.react-heading-small {
    font-size: 0.01px
}

.react-heading {
    padding-top: 19px;
}

 #navbar {
    grid-area: navbar;
    position: fixed;
}

.nav-link {
   color: #61DBFB;
   border-radius: 8px;
}

#navbar a {
    display: block;
    padding: 5px;
    margin: 15px 0;
    text-decoration: none;
    color: black;
    border: 2px solid #00d8ff;
    font-weight: 450;
}

nav a:hover {
    background-color: #00d8ff;
    color: white;
    text-shadow: 0.5px 0.5px #FFF;
}

#main-doc {
    grid-area: mainContent;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

code {
    background: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px;
    border-radius: 10px;
}

xmp {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}

pre {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;

}

.code-example-five {
    padding-right: 100px;
}

@media screen and (max-width: 600px) {
    div.document-body {
      grid-template-columns: 1fr;
      grid-template-areas: "navbar" "mainContent";
    }
      nav#navbar {
      position: inherit;

    }
    .react-logo {
        width: 90px;
        margin-left: 200px;
    }

    .react-logo-title {
        width: 215px;
        margin-left: 134px;
    }
  }






